# Esta configuração instrui a Netlify a usar o plugin Next.js,
# que lida automaticamente com o build e o roteamento.

[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"